# Get this from BotFather (regenerate it if it was ever exposed anywhere)
BOT_TOKEN=8751682165:AAF7EFN1LRJAtSnqjT9KERvltEvnbdc1_x8

# A random string of your choice, used to protect the /api/set-webhook endpoint
# Example: SETUP_SECRET=my-random-string-93kd8s
SETUP_SECRET=bestinfobyraj
ADMIN_ID=5953686645
